# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
*.manifest
*.spec

# ------------------------
# Virtual Environments
# ------------------------
env/
venv/
ENV/
.venv/
.ENV/
*.env

# ------------------------
# Pytest / testing
# ------------------------
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log
*.out
*.err
htmlcov/

# ------------------------
# IDEs
# ------------------------
# VSCode
.vscode/
# PyCharm
.idea/
*.iml

# ------------------------
# Jupyter Notebooks
# ------------------------
.ipynb_checkpoints

# ------------------------
# ABIDES specific
# ------------------------
abides_core-*.egg-info/
abides_bonds/__pycache__/
abides_bonds/tests/__pycache__/
*.sqlite3

# ------------------------
# Mac / OS
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Logs
# ------------------------
*.log
